html,body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background: linear-gradient(to bottom, navy, white);
    color:white;
}
h1{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 70px;
}